
.square{

	background-color: #ffa31a;
	border: 1px solid black;
	display:block;
	padding:0px;
	margin:0px;
	width:50px;
	height:50px;
	
}

.kingSquareLR:after{
	content:"";
	position:absolute;
	border-top:1px solid black;
  	width:67.88225px;
  	transform: rotate(45deg);
  	transform-origin: 0% 0%;
}

.kingSquareRL:after{
	content:"";
	position:absolute;
	border-top:1px solid black;
  	width:67.88225px;
  	transform: rotate(135deg);
  	transform-origin: 0% 0%;
}

#redKing{
	position: absolute;
	top: 28px;
	left: 180px;
	height: 40px;
	width: 40px;
	
}

#redGuardLeft{
	position: absolute;
	top: -15px;
	left: 135px;
	height: 30px;
	width: 30px;
}

#redGuardRight{
	position: absolute;
	top: -15px;
	left: 235px;
	height: 30px;
	width: 30px;
}

#redHorseLeft{
	position: absolute;
	top: -20px;
	left: 80px;
	height: 40px;
	width: 40px;
	
}

#redHorseRight{
	position: absolute;
	top: -20px;
	left: 330px;
	height: 40px;
	width: 40px;
}

#redChariotLeft{
	position: absolute;
	top: -20px;
	left: -20px;
	height: 40px;
	width: 40px;
}
#redChariotRight{
	position: absolute;
	top: -20px;
	left: 380px;
	height: 40px;
	width: 40px;
}

#redElephantLeft{
	position: absolute;
	top: -20px;
	left: 30px;
	height: 40px;
	width: 40px;
}

#redElephantRight{
	position: absolute;
	top: -20px;
	left: 280px;
	height: 40px;
	width: 40px;
}

#redCannonLeft{
	position: absolute;
	top: 80px;
	left: 30px;
	height: 40px;
	width: 40px;
}

#redCannonRight{
	position: absolute;
	top: 80px;
	left: 330px;
	height: 40px;
	width: 40px;
}

#redPawn1{
	position: absolute;
	top: 130px;
	left: -20px;
	height: 40px;
	width: 40px;
}

#redPawn2{
	position: absolute;
	top: 130px;
	left: 80px;
	height: 40px;
	width: 40px;
}

#redPawn3{
position: absolute;
	top: 130px;
	left: 180px;
	height: 40px;
	width: 40px;
}

#redPawn4{
position: absolute;
	top: 130px;
	left: 280px;
	height: 40px;
	width: 40px;
}

#redPawn5{
	position: absolute;
	top: 130px;
	left: 380px;
	height: 40px;
	width: 40px;
}

#greenGuardLeft{
	position: absolute;
	top: 430px;
	left: 135px;
	height: 30px;
	width: 30px;

}

#greenGuardRight{
	position: absolute;
	top: 430px;
	left: 235px;
	height: 30px;
	width: 30px;

}

#greenKing{
	position: absolute;
	top: 378px;
	left: 180px;
	height: 40px;
	width: 40px;

}
#greenHorseLeft{
	position: absolute;
	top: 430px;
	left: 80px;
	height: 40px;
	width: 40px;
	
}

#greenHorseRight{
	position: absolute;
	top: 430px;
	left: 330px;
	height: 40px;
	width: 40px;
}

#greenChariotLeft{
	position: absolute;
	top: 430px;
	left: -20px;
	height: 40px;
	width: 40px;
}
#greenChariotRight{
	position: absolute;
	top: 430px;
	left: 380px;
	height: 40px;
	width: 40px;
}

#greenElephantLeft{
	position: absolute;
	top: 430px;
	left: 30px;
	height: 40px;
	width: 40px;
}

#greenElephantRight{
	position: absolute;
	top: 430px;
	left: 280px;
	height: 40px;
	width: 40px;
}

#greenCannonLeft{
	position: absolute;
	top: 430px;
	left: 30px;
	height: 40px;
	width: 40px;
}

#greenCannonRight{
	position: absolute;
	top: 430px;
	left: 330px;
	height: 40px;
	width: 40px;
}

#greenPawn1{
	position: absolute;
	top: 280px;
	left: -20px;
	height: 40px;
	width: 40px;
}

#greenPawn2{
	position: absolute;
	top: 280px;
	left: 80px;
	height: 40px;
	width: 40px;
}

#greenPawn3{
position: absolute;
	top: 280px;
	left: 180px;
	height: 40px;
	width: 40px;
}

#greenPawn4{
position: absolute;
	top: 280px;
	left: 280px;
	height: 40px;
	width: 40px;
}

#greenPawn5{
	position: absolute;
	top: 280px;
	left: 380px;
	height: 40px;
	width: 40px;
}


p {
	border: 5px solid red;
180